# Dependencies
node_modules/

# Angular build output
dist/

# Environment variables
.env

# Uploaded files
uploads/

# Angular cache
.angular/

# VS Code settings (optional)
.vscode/

# Log files
*.log