.upload-page{

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}

.upload-card{

width:700px;

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

text-align:center;

}

.upload-box{

margin-top:30px;

display:block;

border:3px dashed #3B82F6;

padding:60px;

border-radius:20px;

cursor:pointer;

transition:.3s;

}

.upload-box:hover{

background:#EFF6FF;

}

.selected-file{

margin-top:25px;

background:#F8FAFC;

padding:15px;

border-radius:15px;

}

.upload-btn{

margin-top:30px;

width:100%;

padding:16px;

border:none;

background:#2563EB;

color:white;

font-size:18px;

border-radius:15px;

cursor:pointer;

transition:.3s;

}

.upload-btn:hover{

background:#1D4ED8;

}